<a href="https://colab.research.google.com/github/brcmipn/MachineLearningGoogleColab/blob/main/0_ImportarArchivo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Clase 1
#Importar librerías y archivo desde Github

#Importar librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot


#Ruta del archivo CSV en Github
url = 'https://raw.githubusercontent.com/brcmipn/MachineLearningGoogleColab/main/0_Data.csv'
datos = pd.read_csv(url)

#Visualizar datos
datos

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes